body {
  font-family: 'Poppins', sans-serif;
  background-color: #7ba3cb;
  color: #333333;
  line-height: 1.6;
  padding: 20px;
}

header {
  background-color: #2e3a59;
  color: #eff1f2;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header img {
  width: 150px;
  height: 150px;;
 
  margin-bottom: 15px;
  border: 4px solid #eeeaea;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
}

section {
  background-color: #ffffff;
  margin-top: 30px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);

}

section h2 {
  margin-bottom: 15px;
  color: #2e3a59;
  border-left: 4px solid #4caf50;
  padding-left: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #777777;
}
